extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/fillter-status.pug
include ../../mixins/search.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/sort.pug
include ../../mixins/table-tree.pug

block main
    h2 Danh Mục Sản Phẩm
    +alertsuccess(5000)
    +alerterror(5000)
    .card.mb-3
        .card-header Bộ lọc và Tìm kiếm
        .card-body     
            .row 
                .col-3  
                    +fillter-status-select(FillterStatus)
                .col-3
                .col-3 
                   +search(keyword)
    .card.mb-3
        .card-header Danh Mục Sản Phẩm
            .card-body
                .row 
                    .col-4
                        +form-change-multi(`${PrefixAdmin}/product-category/change-multi?_method=PATCH`)
                    .col-5
                        +sort-category()
                    .col-3
                        a(href=`${PrefixAdmin}/product-category/create` class="btn btn-outline-success") +Thêm Mới
                table(class="table table-hover" checkbox-multi)
                        thead
                            tr  
                                th
                                    input(type="checkbox" name="checkall")
                                th STT
                                th Hình Ảnh
                                th Tên danh mục
                                th Vị trí
                                th Trạng Thái
                                th Hành Động
                        tbody 
                            +table-tree(records)
    form(action="", method="POST" data-path=`${PrefixAdmin}/product-category/change-status` id="form-change-status")    
    form(action="", method="POST" data-path=`${PrefixAdmin}/product-category/delete` id="form-delete-item")    