extends ../../layouts/default.pug

block main  

    if (record.title) 
        h1(class="mb-4") #{record.title}
    
    if (record.description) 
        div(class="mb-4") Mô Tả: !{record.description}
    

    a(class="btn btn-warning btn-sm" href=`${PrefixAdmin}/roles/edit/${record.id}` ) Chỉnh Sửa