.header { 
    border-bottom: 1px solid rgb(135, 129, 129);
    padding:10px 0;
}
.inner-logo a img { 
    max-width: 100%;
    max-height: 50%;
}
.inner-menu { 
    height: 100%;
}
.inner-menu ul{ 
    height: 100%;
}
.inner-menu ul {
    list-style: none;
    padding:0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    flex-wrap: wrap;

}
.inner-menu ul > li {
    margin-right: 20px;
}

.footer {
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-head {
    margin: 20px 0;
}
.inner-title {
    color: green;
    font-size: 18px;
}
.product-list {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
}
.product-item {
    border-radius: 10px;
    border: 1px solid rgb(135, 129, 129);
}
.inner-images {
    border-radius: 10px;
}
.inner-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.btn-detail {
    margin-right: 6px;
}
.status-detail {
    margin-right: 10px;
}
.discount {
    display: inline-block;
    padding: 5px 8px;
    background-color: red;
    color: white;
    border-radius: 10px;
}
.inner-price-new {
    color: rgb(5, 244, 13);
    margin-bottom: 4px;
}
.inner-price-old {
    color: red;
    text-decoration: line-through;
    margin-bottom: 4px;
}
.inner-content {
    height: 135px;
    position: relative;
    padding: 5px;
}
.price {
    position: absolute;
    bottom: 0;
}