.header { 
    border-bottom: 1px solid rgb(135, 129, 129);
    padding:10px 0;
}
.header .inner-logo a img { 
    max-width: 100%;
    max-height: 50%;
}

.header .inner-menu > ul {
    list-style: none;
    padding:0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    flex-wrap: wrap;
}

.header .inner-menu ul > li {
    margin-right: 20px;
}

.footer {
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-head {
    margin: 20px 0;
}
.inner-title {
    color: green;
    font-size: 18px;
}
.product-list {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
}
.product-item {
    border-radius: 10px;
    border: 1px solid rgb(135, 129, 129);
}
.inner-images {
    border-radius: 10px;
    position: relative;
}
.inner-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.btn-detail {
    margin-right: 6px;
}
.status-detail {
    margin-right: 10px;
}
.discount {
    display: inline-block;
    padding: 5px 8px;
    background-color: red;
    color: white;
    border-radius: 10px;
}
.product-item .inner-featured {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(223, 94, 94);
    color: white;
    padding: 3px 6px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
}
.inner-price-new {
    color: rgb(5, 244, 13);
    margin-bottom: 4px;
}
.inner-price-old {
    color: red;
    text-decoration: line-through;
    margin-bottom: 4px;
}
.inner-content {
    height: 135px;
    position: relative;
    padding: 5px;
}
.price {
    position: absolute;
    bottom: 0;
}

.sub-menu {
    position: relative;
    z-index: 999;
}

.sub-menu ul {
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #eae9e9;
    min-width: 180px;
    display: none;
}

.sub-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.sub-menu:hover > ul {
    display: block;
}

.sub-menu ul li {
    position: relative;
}

.sub-menu ul li ul {
    right: 100%;
    top: 0;
}

.sub-menu ul li:hover > ul {
    display: block;
}





[show-alert] {
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 999;
}
[show-alert].alert-hidden {
    display: none;
}
 .closedalert {
    font-size: 15px;
    margin-left: 10px;
    width: 25px;
    display: inline-block;
    padding: 10px;
}
.closedalert:hover {
    cursor: pointer;
}



.imguploads {
    width: 150px;
    height: auto;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 20px;
    border-radius: 50%;
} 
.imguploads[src=""] {
    display: none;
}



/* chat */
.chat {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .chat .inner-body {
    padding: 10px;
    height: 450px;
    overflow-y: auto;
  }
  
  .chat .inner-body .inner-name {
    font-weight: 600;
  }
  
  .chat .inner-body .inner-content {
    background: #F1F1F1;
    margin-bottom: 10px;
    max-width: 220px;
    height: auto;
    padding: 5px 10px;
    border-radius: 15px;
    line-height: 1.4;
  }
  
  .chat .inner-outgoing .inner-content {
    margin-left: auto;
    background: #FE5DA3;
    color: #fff;
  }
  
  .chat .inner-foot {
    border-top: 1px solid #ddd;
    padding: 10px;
  }
  
  .chat .inner-form {
    display: flex;
    align-items: center;
  }
  
  .chat .inner-form input {
    flex: 1;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 0 10px;
    outline: none;
  }
  
  .chat .inner-form button {
    border-radius: 15px;
    border: 1px solid #FE5DA3;
    background: #FE5DA3;
    color: #fff;
    height: 32px;
    padding: 0 10px;
    cursor: pointer;
  }
  .inner-image-chat {
    width: 50px;
    height: 50px;
  }
  .inner-image-chat img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  } 

  .chat .inner-preview-images {
    position: relative;
  }
  
  .chat .inner-preview-images .label-container {
    display: none;
  }
  
  .chat .inner-preview-images .input-container {
    display: none;
  }
  
  .chat .inner-preview-images .image-preview {
    height: auto;
    padding: 0;
    border-radius: 0;
  }
  
  .chat .inner-preview-images .image-preview-item {
    width: 90px;
    background-size: contain;
  }

  .chat .inner-body .inner-images img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    background: #efefef;
    padding: 10px;
    margin: 0 5px 5px 0;
    border-radius: 5px;
  }
  .chat .inner-body .inner-outgoing .inner-images {
    margin-left: auto;
    text-align: right;
  }
  
  .chat .inner-body .inner-outgoing .inner-images img {
    margin: 0 0 5px 5px;
  }
  /* End chat */
  
/* .tooltip */
.tooltip {
    z-index: -1;
}
  
.tooltip.shown {
    opacity: 1;
    z-index: 1070;
}
/* End tooltip */


/* box-typing */
.box-typing {
    position: relative;
  }
  
  .box-typing .inner-dots {
    position: relative;
    height: 20px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
    border-radius: 45px;
    margin-top: 2px;
  }
  
  .box-typing .inner-dots span {
    animation: blink 1.5s infinite;
    height: 5px;
    width: 5px;
    background: #252525;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
  }
  
  .box-typing .inner-dots span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .box-typing .inner-dots span:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes blink {
    0% {
      opacity: 0.1;
   }
    20% {
      opacity: 1;
   }
    100% {
      opacity: 0.1;
   }
  }
  /* End box-typing */


  /* box-user */
.box-user {
  display: flex;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.box-user .inner-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background: #f2f2f2;
  margin-right: 10px;
  position: relative;
}

.box-user .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-user .inner-info {
  flex: 1;
}

.box-user .inner-info .inner-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}

.box-user [btn-cancel-friend] {
  display: none;
}

.box-user.add [btn-add-friend] {
  display: none;
}

.box-user.add [btn-cancel-friend] {
  display: inline-block;
}

.box-user [btn-deleted-friend] {
  display: none;
}

.box-user.refuse [btn-accept-friend] {
  display: none;
}

.box-user.refuse [btn-refuse-friend] {
  display: none;
}

.box-user.refuse [btn-deleted-friend] {
  display: inline-block;
}


.box-user [btn-accepted-friend] {
  display: none;
}

.box-user.accepted [btn-accept-friend] {
  display: none;
}

.box-user.accepted [btn-refuse-friend] {
  display: none;
}

.box-user.accepted [btn-accepted-friend] {
  display: inline-block;
}

.box-user [btn-delete-friend] {
  display: none;
}

.box-user.delete [btn-chat] {
  display: none;
}

.box-user.delete [button-delete-friend] {
  display: none;
}

.box-user.delete [btn-delete-friend] {
  display: inline-block;
}


.box-user .inner-status {
  font-size: 12px;
  color: #00d800;
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 20px;
}

.box-user .inner-status[status="online"] {
  opacity: 1;
}
/* End box-user */