.header { 
    border-bottom: 1px solid rgb(135, 129, 129);
    padding:10px 0;
}
.header .inner-logo a img { 
    max-width: 100%;
    max-height: 50%;
}

.header .inner-menu > ul {
    list-style: none;
    padding:0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    flex-wrap: wrap;
}

.header .inner-menu ul > li {
    margin-right: 20px;
}

.footer {
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-head {
    margin: 20px 0;
}
.inner-title {
    color: green;
    font-size: 18px;
}
.product-list {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
}
.product-item {
    border-radius: 10px;
    border: 1px solid rgb(135, 129, 129);
}
.inner-images {
    border-radius: 10px;
    position: relative;
}
.inner-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.btn-detail {
    margin-right: 6px;
}
.status-detail {
    margin-right: 10px;
}
.discount {
    display: inline-block;
    padding: 5px 8px;
    background-color: red;
    color: white;
    border-radius: 10px;
}
.product-item .inner-featured {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(223, 94, 94);
    color: white;
    padding: 3px 6px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
}
.inner-price-new {
    color: rgb(5, 244, 13);
    margin-bottom: 4px;
}
.inner-price-old {
    color: red;
    text-decoration: line-through;
    margin-bottom: 4px;
}
.inner-content {
    height: 135px;
    position: relative;
    padding: 5px;
}
.price {
    position: absolute;
    bottom: 0;
}

.sub-menu {
    position: relative;
    z-index: 999;
}

.sub-menu ul {
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #eae9e9;
    min-width: 180px;
    display: none;
}

.sub-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.sub-menu:hover > ul {
    display: block;
}

.sub-menu ul li {
    position: relative;
}

.sub-menu ul li ul {
    right: 100%;
    top: 0;
}

.sub-menu ul li:hover > ul {
    display: block;
}





[show-alert] {
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 999;
}
[show-alert].alert-hidden {
    display: none;
}
 .closedalert {
    font-size: 15px;
    margin-left: 10px;
    width: 25px;
    display: inline-block;
    padding: 10px;
}
.closedalert:hover {
    cursor: pointer;
}