extends ../../layouts/default.pug
include ../../mixin/box-head.pug
include ../../mixin/products-layout.pug
block main
  .container.my-3
        .row
            .col-12
                +box-head("Sản phẩm nổi bậc")
        +products-gird(ProductFeature)
  .container.my-3
        .row
            .col-12
                +box-head("Sản phẩm mới")
        +products-gird(ProductNew)