header.header
    .container-fluid
        .row.align-item-center
            .col-3
                .inner-logo
                    a(href=`${PrefixAdmin}/dashboard`) ADMIN 

            .col-9
                div(class="text-right")
                    a(href=`${PrefixAdmin}/auth/logout` class="btn btn-danger btn-sm") Đăng Xuất